:root {
  --ff-sans: "Montserrat", sans-serif;
  --ff-serif: "Fraunces", serif;

    /* small screen font-sizes */
    --fs-100: .75rem;
    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.375rem;
    --fs-600: 1.75rem;
    --fs-900: 2.125rem;

    --fw-200: 200;
    --fw-300: 300;
    --fw-500: 500;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
  
    --clr-neutral-100: #fff;
    --clr-neutral-200: ;
    --clr-neutral-300: ;
    --clr-neutral-400: ;
    --clr-neutral-500: #6c7289;
    --clr-neutral-900: #1c232b;
  
    --clr-primary-300: #f2ebe3;
    --clr-primary-400: #3c8067;
    --clr-primary-500: #1d3e32;
  
    --br: 1rem;
  }

      /* reset */
  
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }
  
      body {
        font-size: var(--fs-200);
        font-family: var(--ff-sans);
        font-weight: var(--fw-700);
        line-height: 1;
        background: var(--clr-primary-300);
        color: var(--clr-neutral-500);
        /* margin: auto; */
      }


      .container {
        max-width: 26rem;
        margin: auto;
        padding: .5rem;    
      }

      .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }


      .image1 {
        /* display: flex; */
        width: 100%;
        border-radius: .75rem .75rem 0 0;
        margin: auto;
      }

      .image2 {
        display: none;
      }


      .product {
        display: grid;
        background-color: var(--clr-neutral-100);
        padding: 1.5rem;
        border-radius: 0 0 .75em .75em;
      }

      .product_type {
        text-transform: uppercase;
        font-size: var(--fs-100);
        letter-spacing: .25rem;
      }

      .product_name {
        font-family: var(--ff-serif);
        font-size: var(--fs-900);
        font-weight: var(--fw-700);
        color: var(--clr-neutral-900);
        margin: .25rem 0;
      }

      .product_bio {
        font-size: var(--fs-200);
        line-height: 1.75;
      }

      .price {
        word-spacing: 2rem;
      }
        
      .current {
        font-family: var(--ff-serif);
        font-size: var(--fs-900);
        color: var(--clr-primary-400);
        font-weight: var(--fw-700);
        text-decoration: none;
      }

      .old {
        text-decoration: line-through;
        vertical-align: super;
        text-align: right;
      }

      .btn {
        background: var(--clr-primary-400);
        color: var(--clr-neutral-100);
        text-decoration: none;
        text-align: center;
        font-weight: var(--fw-700);
        padding: 0.75rem 0.75rem;
        border-radius: 0.25rem;
      }

      svg {
        position: relative;
        top: .2rem;
        right: .75rem;
      }

      .btn:hover {
        background: var(--clr-primary-500);
      }
      
      @media (min-width: 600px) {
        .card {
          display: flex;
          flex-wrap: nowrap;
          flex: 1 1 0;
        }
        
        
        .image1 {
          display: none;
        }
        

        .image2 {
          display: flex;
          width: 100%;
          border-radius: .75rem 0 0 .75rem;
          margin: auto;
          flex: auto;
        }


        .product {
          border-radius: 0 .75em .75em 0;
        }
      }
      
      
      .attribution * {
        text-align: center;
        text-decoration: none;
        color: var(--clr-neutral-500);
        line-height: .5rem;
        font-size: var(--fs-100);
      }