:root {
    --ff-sans: "Montserrat", sans-serif;
    --ff-serif: "Fraunces", serif;

    --fs-100: .75rem;
    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.375rem;
    --fs-600: 1.75rem;
    --fs-900: 2.125rem;

    --fw-200: 200;
    --fw-300: 300;
    --fw-500: 500;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
  
    --clr-neutral-100: #fff;
    --clr-neutral-200: ;
    --clr-neutral-300: ;
    --clr-neutral-400: ;
    --clr-neutral-500: #6c7289;
    --clr-neutral-900: #1c232b;
  
    --clr-primary-300: #f2ebe3;
    --clr-primary-400: #3c8067;
    --clr-primary-500: #1d3e32;
  
    --br: 1rem;
  }

      /* reset */
  
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      * {
        margin:0
      }

      html,
      body {
        height: 100%;
      }

      body {
        line-height: 1.7;
        -webkit-font-smoothing : antialiased;
      }

      img,
      picture,
      video,
      canvas {
        display: block;
        max-width: 100%;
      }

      input,
      button,
      textarea,
      select {
        font: inherit;
      }

      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        overflow-wrap: break-word;
      }

      h1,
      h2,
      h3 {
        line-height: 1;
      }

      /* reset */

  
      body {
        font-size: var(--fs-200);
        font-family: var(--ff-sans);
        font-weight: var(--fw-700);
        /* line-height: 1; */
        background: var(--clr-primary-300);
        color: var(--clr-neutral-500);
        margin: 1rem;
        display: grid;
        place-content: center;
      }

      .price {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: center;
      }

      .visually-hidden:not(:focus):not(:active) {
        clip: rect(0 0 0 0); 
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap; 
        width: 1px;
      }


      /* .container {
        max-width: 26rem;
        margin: auto;
        padding: .5rem;    
      } */

      .container {
        --content-padding: 1.5rem;
        --content-spacing: 1rem;
        display: grid;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--clr-neutral-100);
        border-radius: .75rem;
        overflow: hidden;
        max-width: 600px;
      }


      /* picture {
        display: flex;
        width: 100%;
        border-radius: .75rem .75rem 0 0;
        margin: auto;
      } */

      /* .image2 {
        display: none;
      } */


      .product {
        padding: var(--content-padding);
        background-color: var(--clr-neutral-100);
        display: grid;
        gap: var(--content-spacing);
        /* border-radius: 0 0 .75em .75em; */
      }

      .product__type {
        text-transform: uppercase;
        /* font-size: var(--fs-100); */
        letter-spacing: .25em;
      }

      .product__name {
        font-family: var(--ff-serif);
        font-size: var(--fs-900);
        font-weight: var(--fw-700);
        color: var(--clr-neutral-900);
        /* margin: .25rem 0; */
      }

      .product__bio {
        font-size: var(--fs-200);
        line-height: 1.75;
      }


      /* .price {
        word-spacing: 2rem;
      } */
        
      .current {
        font-family: var(--ff-serif);
        font-size: var(--fs-900);
        color: var(--clr-primary-400);
        font-weight: var(--fw-700);
        text-decoration: none;
      }

      /* .old {
        text-decoration: line-through;
        vertical-align: super;
        text-align: right;
      } */

      .btn {
        cursor: pointer;
        text-decoration: none;
        display: inline-flex;
        gap: .75rem;
        justify-content: center;
        align-items: center;
        background: var(--clr-primary-400);
        color: var(--clr-neutral-100);
        /* text-align: center; */
        font-weight: var(--fw-600);
        padding: 0.5rem 1.5rem;
        border-radius: 0.25rem;
      }

      .btn[data-icon="shopping-cart"]::before {
        content: "";
        background-image: url(img/icon-cart.svg);
        width: 15px;
        height: 16px;
      }

      /* svg {
        position: relative;
        top: .2rem;
        right: .75rem;
      } */

      .btn:hover {
        background: var(--clr-primary-500);
      }
      
      @media (min-width: 600px) {
        .container {
          --content-padding: 2rem;
          grid-template-columns: 1fr 1fr;
        }
        
        /* .card {
          display: flex;
          flex-wrap: nowrap;
          flex: 1 1 0;
        } */
        
        
        /* .image1 {
          display: none;
        }
        

        .image2 {
          display: flex;
          width: 100%;
          border-radius: .75rem 0 0 .75rem;
          margin: auto;
          flex: auto;
        } */


        /* .product {
          border-radius: 0 .75em .75em 0;
          min-width: 23rem;
          min-height: auto;
        } */

        /* .btn {
          max-height: 3rem;
        } */
      }
      
      
      .attribution * {
        text-align: center;
        text-decoration: none;
        color: var(--clr-neutral-500);
        /* line-height: .5rem; */
        font-size: var(--fs-100);
      }